# Python / Jupyter
__pycache__/
*.py[cod]
notebooks/01_db_connection_tests.ipynb
*.so
.ipynb_checkpoints/
.env
.venv/
*.egg-info/

# Data (keep folder, ignore files)
data/*
!data/.gitkeep

# VS Code
.vscode/
